@media (max-width: 767px) {
  .normal .ComposerBody-header > li:first-child {
    margin: -46px 75px 0;
  }
}

.App-backControl.item-save-draft {
  left: unset;
  right: 42px;
}

.scheduledValidationError {
  color: @control-danger-color;
}

.item-draft-autosave-interval {
  margin-top: 30px;
  input {
    width: 35%;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 4px 0 0 4px;
  }
  button {
    vertical-align: bottom;
    border-radius: 0 4px 4px 0;
  }
}