@media (max-width: 767px) {
  .normal .ComposerBody-header > li:first-child {
    margin: -46px 75px 0;
  }
}

.App-backControl.item-save-draft {
  left: unset;
  right: 42px;
}

.scheduledValidationError {
  color: @control-danger-color;
}